.jnJxwk {
    width: 2.986666666666667rem;
    height: 2.986666666666667rem;
}

/* sc-component-id: sc-bwzfXH */

.bHHuxq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30%;
    width: 16rem;
    z-index: 99;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justifyContent: center;
    alignItems: center;
}

/* sc-component-id: sc-htpNat */

.eNxLeJ {
    border-radius: 0.21333333333333335rem;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    position: relative;
    width: 2.986666666666667rem;
    height: 2.986666666666667rem;
}

/* sc-component-id: sc-keyframes-gjEMDO */
@-webkit-keyframes gjEMDO {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes gjEMDO {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* sc-component-id: sc-bxivhb */

.iyBqGU {
    position: absolute;
    width: 2.1333333333333333rem;
    height: 2.1333333333333333rem;
    left: 0.4693333333333333rem;
    top: 0.4693333333333333rem;
    border-radius: 1.0666666666666667rem;
    border: solid rgba(255, 255, 255, 0.8);
    border-width: 0.08533333333333333rem;
    box-sizing: border-box;
    border-top-color: #ff464e;
    border-right-color: #ff464e;
    -webkit-animation: gjEMDO .7s linear infinite forwards;
    animation: gjEMDO .7s linear infinite forwards;
}


/* sc-component-id: sc-ifAKCX */
.sc-ifAKCX {}

.cwvtfM {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 999;
}

/* sc-component-id: sc-cSHVUG */
.sc-cSHVUG {}

.hLatub {
    position: relative;
    width: 16rem;
    height: 6.1866666666666665rem;
}

/* sc-component-id: sc-kAzzGY */
.sc-kAzzGY {}

.dChoOW {
    width: 16rem;
    height: 6.1866666666666665rem;
}

/* sc-component-id: sc-chPdSV */
.sc-chPdSV {}

.lmsFkW {
    position: absolute;
    left: 50%;
    bottom: 0.21333333333333335rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* sc-component-id: sc-kgoBCf */
.sc-kgoBCf {}

.fAUALq {
    width: 0.3413333333333333rem;
    height: 0.3413333333333333rem;
    display: inline-block;
    margin: 0 0.128rem;
    border-radius: 0.17066666666666666rem;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.fAUALq.slideActive {
    width: 0.6826666666666666rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 1);
}

/* sc-component-id: sc-kGXeez */
.sc-kGXeez {}

.ggzDPo {
    width: 16rem;
    height: 1.8773333333333333rem;
    background-color: #fff;
    overflow: hidden;
    margin-top: 0.4266666666666667rem;
}

/* sc-component-id: sc-kpOJdX */
.sc-kpOJdX {}

.bQiGsQ {
    position: relative;
    left: 0;
    top: 0;
    width: 16rem;
    height: 1.8773333333333333rem;
    z-index: 100;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: auto;
}

.bQiGsQ.fixed {
    position: fixed;
}

/* sc-component-id: sc-dxgOiQ */
.sc-dxgOiQ {}

.kJVijN {
    line-height: 1.8773333333333333rem;
    height: 1.8773333333333333rem;
    display: inline-block;
    font-size: 0.6826666666666666rem;
    text-align: center;
    color: #333;
    padding: 0 0.4266666666666667rem;
    word-wrap: break-word;
}

.kJVijN.goodsNavActive div {
    color: #ff464e;
    border-bottom: 4px solid #ff464e;
}

/* sc-component-id: sc-ckVGcZ */
.sc-ckVGcZ {}

.ivTuNn {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

/* sc-component-id: sc-eHgmQL */
.sc-eHgmQL {}

.liitCY {
    width: 16rem;
    height: 1.6213333333333333rem;
    background-color: #fff;
    overflow: hidden;
}

/* sc-component-id: sc-cvbbAY */
.sc-cvbbAY {}

.FmGXT {
    position: relative;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

/* sc-component-id: sc-jWBwVP */
.sc-jWBwVP {}

.dPjlSY {
    line-height: 1.6213333333333333rem;
    height: 1.6213333333333333rem;
    display: inline-block;
    font-size: 0.5973333333333334rem;
    text-align: center;
    color: #333;
    padding: 0 0.21333333333333335rem;
    margin: 0 0.2986666666666667rem;
    box-sizing: border-box;
    background: #fff;
}

/* sc-component-id: sc-brqgnP */
.sc-brqgnP {}

.fTbvTr {
    position: absolute;
    height: 4px;
    background-color: #ff464e;
    bottom: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

/* sc-component-id: sc-cMljjf */
.sc-cMljjf {}

.QllnW {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 16rem;
    height: 2.1333333333333333rem;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 100;
}

/* sc-component-id: sc-jAaTju */
.sc-jAaTju {}

.izStSE {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* sc-component-id: sc-jDwBTQ */
.sc-jDwBTQ {}

.fSJdS {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 0.4266666666666667rem;
    text-align: center;
    color: #333;
}

.fSJdS.act {
    color: #ff464e;
}

/* sc-component-id: sc-gPEVay */
.sc-gPEVay {}

.gtkfWd {
    display: block;
    width: 1.024rem;
    height: 1.024rem;
    margin: 0 auto;
    margin-top: 0.21333333333333335rem;
    margin-bottom: 0.21333333333333335rem;
}

/* sc-component-id: sc-iRbamj */
.sc-iRbamj {}

.idVxVO {
    overflow: hidden;
}

/* sc-component-id: sc-jlyJG */
.sc-jlyJG {}

.qykHL {
    margin: 0 -1px 0 0;
    font-size: 0;
    display: inline-block;
    float: left;
}

/* sc-component-id: sc-gipzik */
.sc-gipzik {}

.eqWGtT {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: left;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

body {
    width: 16rem;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: PingFang-SC-Regular, Helvetica Neue, Helvetica, Droid Sans Fallback, microsoft yahei, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-touch-callout: none;
}

input,
textarea {
    -webkit-appearance: none;
    border: 1px solid;
    border-radius: 0;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "iconfont";
    src: url('https://jp.juancdn.com/jpwebapp_v1/iconfont/iconfont.eot?t=149077173658622s');
    src: url('https://jp.juancdn.com/jpwebapp_v1/iconfont/iconfont.eot?t=149077173658622s#iefix') format('embedded-opentype'), url('https://jp.juancdn.com/jpwebapp_v1/iconfont/iconfont.woff?t=149077173658622s') format('woff'), url('https://jp.juancdn.com/jpwebapp_v1/iconfont/iconfont.ttf?t=149077173658622s') format('truetype'), url('https://jp.juancdn.com/jpwebapp_v1/iconfont/iconfont.svg?t=149077173658622s#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dingdan:before {
    content: "\e60a";
}

.icon-fanhui:before {
    content: "\e60b";
}

.icon-fenlei:before {
    content: "\e60c";
}

.icon-fenxiang:before {
    content: "\e60d";
}

.icon-gengduo:before {
    content: "\e60e";
}

.icon-gouwuche:before {
    content: "\e60f";
}

.icon-guanbi:before {
    content: "\e610";
}

.icon-xiaoxi:before {
    content: "\e611";
}

.icon-shoucang:before {
    content: "\e612";
}

.icon-zhuye:before {
    content: "\e613";
}

.icon-daifukuan:before {
    content: "\e614";
}

.icon-daishouhuo:before {
    content: "\e615";
}

.icon-daifahuo:before {
    content: "\e616";
}

.icon-dianpu:before {
    content: "\e617";
}

.icon-dingwei:before {
    content: "\e618";
}

.icon-shanchu:before {
    content: "\e619";
}

.icon-liebiaojiantou:before {
    content: "\e61a";
}

.icon-tianjia:before {
    content: "\e61b";
}

.icon-sousuofenlei:before {
    content: "\e61c";
}

.icon-tuikuanshouhou:before {
    content: "\e61d";
}

.icon-bianji:before {
    content: "\e61e";
}

.icon-wuliu:before {
    content: "\e61f";
}

.icon-yishoucang:before {
    content: "\e620";
}

.icon-yixuanzhong:before {
    content: "\e621";
}

.icon-weixuanzhong:before {
    content: "\e622";
}

.icon-daichengtuan:before {
    content: "\e623";
}

.icon-zhifaicon:before {
    content: "\e624";
}

.icon-yixuanzhong1:before {
    content: "\e625";
}

.icon-zhekou:before {
    content: "\e626";
}

.icon-kefu:before {
    content: "\e627";
}

.icon-biyan:before {
    content: "\e628";
}

.icon-zhengyan:before {
    content: "\e629";
}

.icon-sousuo:before {
    content: "\e62a";
}

.icon-shanchu_:before {
    content: "\e62b";
}

.icon-jianpan_shanchu:before {
    content: "\e62c";
}

.icon-dunpai:before {
    content: "\e62d";
}

.icon-jiageshengxu:before {
    content: "\e62e";
}

.icon-shaixuan:before {
    content: "\e62f";
}

.icon-jiagejiangxu:before {
    content: "\e630";
}

.icon-jiarushoucang:before {
    content: "\e631";
}

.icon-jiarugouwuche:before {
    content: "\e632";
}

.ArfhZ {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 999;
}

html,
body,
#root {
    background: #f4f4f8;
}

/* sc-component-id: sc-jqCOkK */
.sc-jqCOkK {}

.bcZFQQ {
    overflow: hidden;
}

/* sc-component-id: sc-uJMKN */
.sc-uJMKN {}

.eAzbYJ {
    width: 16.085333333333335rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.eAzbYJ::after {
    content: ' ';
    display: table;
    clear: both;
}

/* sc-component-id: sc-bbmXgH */
.sc-bbmXgH {}

.gCgGoL {
    width: 7.957333333333334rem;
    float: left;
    margin-right: 0.08533333333333333rem;
    margin-top: 0.08533333333333333rem;
}

/* sc-component-id: sc-gGBfsJ */
.sc-gGBfsJ {}

.bHohRa {
    height: 100%;
    background-color: #fff;
    width: 100%;
}

/* sc-component-id: sc-jnlKLf */
.sc-jnlKLf {}

.bYqRFU {
    width: 100%;
    height: 7.978666666666666rem;
    position: relative;
}

/* sc-component-id: sc-fYxtnH */
.sc-fYxtnH {}

.idxkID {
    width: 100%;
    display: block;
}

/* sc-component-id: sc-tilXH */
.sc-tilXH {}

.cEQZgN {
    padding-left: 0.3413333333333333rem;
    padding-right: 0.3413333333333333rem;
    color: #bbb;
    font-size: 0.4693333333333333rem;
    line-height: 0.9386666666666666rem;
    margin-top: 0.256rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

/* sc-component-id: sc-ktHwxA */
.sc-ktHwxA {}

.gVLSd {
    font-size: 0.64rem;
    color: #ff464e;
    margin-right: 0.17066666666666666rem;
}

/* sc-component-id: sc-cmTdod */
.sc-cmTdod {}

.dFUsnh {
    position: relative;
    font-size: 0.512rem;
    color: #3b3b3b;
    padding-left: 0.3413333333333333rem;
    padding-right: 2.6453333333333333rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.512rem;
}

/* sc-component-id: sc-bYSBpT */
.sc-bYSBpT {}

.hovOpk {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.92rem;
    height: 1.92rem;
}

/* sc-component-id: sc-elJkPf */
.sc-elJkPf {}

.lcVTjL {
    background-size: cover;
    position: absolute;
    bottom: -0.53333rem;
    right: 0.34133rem;
    width: 2.13333rem;
    height: 1.06667rem;
    border: 1px solid #ebebeb;
    background-color: #fff;
}

/* sc-component-id: sc-jtRfpW */
.sc-jtRfpW {}

.QcHRp {
    width: 100%;
    display: block;
}

/* sc-component-id: sc-kTUwUJ */
.sc-kTUwUJ {}

.kDoQxf {
    color: #bbb;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0.3413333333333333rem;
    font-size: 0.4266666666666667rem;
}

/* sc-component-id: sc-gzOgki */
.sc-gzOgki {}

.jVdqXb {
    width: 16rem;
    height: 1.8773333333333333rem;
    padding: 0 0.5973333333333334rem;
    padding-right: 0;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

/* sc-component-id: sc-iyvyFf */
.sc-iyvyFf {}

.jTpZiT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* sc-component-id: sc-hwwEjo */
.sc-hwwEjo {}

.cDNDuJ {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1.1946666666666668rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.512rem;
    color: #666;
}

.cDNDuJ>.search-icon {
    width: 0.64rem;
    height: 0.64rem;
    margin: 0 0.21333333333333335rem;
}

.cDNDuJ>.search-icon>.iconfont {
    font-size: 0.64rem;
}

.cDNDuJ>.search-img {
    height: 0.64rem;
    margin: 0 0.21333333333333335rem;
}

/* sc-component-id: sc-kPVwWT */
.sc-kPVwWT {}

.jktfkc {
    width: 1.8773333333333333rem;
    height: 1.8773333333333333rem;
}

/* sc-component-id: sc-kfGgVZ */
.sc-kfGgVZ {}

.dxtDGP {
    height: 100%;
    display: block;
}

/* sc-component-id: sc-esjQYD */
.sc-esjQYD {}

.iwGMSN {
    width: 1.70667rem;
    height: 1.70667rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2.3466666666666667rem;
    right: 4%;
    display: none;
}

/* sc-component-id: sc-kIPQKe */
.sc-kIPQKe {}

.cApFiQ {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}

/* sc-component-id: sc-eXEjpC */
.sc-eXEjpC {}

.gjbwoN {
    height: 2.3893333333333335rem;
}

/* sc-component-id: sc-ibxdXY */
.sc-ibxdXY {}

.fOzlGi {
    width: 100%;
    height: 2.3893333333333335rem;
}

/* sc-component-id: sc-iQKALj */
.sc-iQKALj {}

.ktaNAK {
    position: relative;
    height: 8.533333333333333rem;
    background-color: #fff;
}

.react-swipeable-view-container {
    display: -webkit-box;
    display: -ms-flexbox;
}

.react-swipeable-view-container>div {
    -ms-flex-negative: 0;
}
